* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

button,
input {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    overflow: auto;
    background-color: powderblue;
    position: relative;
}

body>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*全局模块的样式*/

.layer {
    position: absolute;
    width: 120px;
    padding: 20px 0;
    min-height: 180px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: rgba(0, 133, 0, 0.7);
}

/*layer控制*/

#layer {
    background-color: #fff;
    z-index: 1000;
    height: auto;
}

#layer .form-group {
    padding: 10px;
    margin: 0;
}

#layer .form-group li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
}


#svg {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.box {
    width: 100px;
    height: 45px;
    border: 1px solid red;
    position: absolute;
    cursor: pointer;
    top: 100px;
    left: 100px;
}

.box span {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 50%;
    margin-top: -8px;
}

.box .input {
    left: -8px;
}

.box .output {
    right: -8px;
}

.box2 {
    top: 200px;
    left: 400px;
}

.box3 {
    top: 300px;
    left: 400px;
}

line {
    stroke: #999;
    stroke-width: 2;
}